tomli-w
SQLAlchemy~=2.0.43
fastapi[standard]~=0.116.1
starlette~=0.47.3
alembic~=1.16.5
pydantic~=2.11.7
python-jose~=3.5.0
passlib~=1.7.4
pydantic-settings~=2.10.1
pytest-asyncio~=1.2.0
python-dotenv~=1.1.1
pyyaml~=6.0.2
aiofiles~=24.1.0
python-magic~=0.4.27
asyncpg~=0.30.0
pymetasploit3